{%- set area_name = data | smallest_area_name -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#0b0c0c">
	<meta name="keywords"
	      content="official,COVID19,COVID-19,Coronavirus,UK Health Security Agency,United Kingdom,Data,Charts,Download,Coronavirus tracker,UKHSA,UK,API,MSOA,postcode,dashboard,easy read,summary">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@UKHSA">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_GB"/>
	<meta name="twitter:image" content="https://coronavirus.data.gov.uk/assets/public/images/opengraph-image.png">
	<meta property="og:image" content="https://coronavirus.data.gov.uk/assets/public/images/opengraph-image.png">
	<meta name="instrumentation_key" content="{{ app_insight_token }}">
	<link rel="apple-touch-icon" href="https://coronavirus.data.gov.uk/public/assets/summary/icon/favicon.png">
	<link rel="icon" href="https://coronavirus.data.gov.uk/public/assets/summary/icon/favicon.ico">
	{% if area_name == 'United Kingdom' %}
		<title>Simple summary - UK | Coronavirus in the UK</title>
		<meta property="og:title" content="Simple summary - UK | Coronavirus in the UK">
		<meta name="twitter:title" content="Simple summary - UK | Coronavirus in the UK">
		<meta name="description" content="Simple summary of the coronavirus (COVID-19) disease in the UK.">
		<meta property="og:description" content="Simple summary of the coronavirus (COVID-19) disease in the UK.">
		<meta name="twitter:description" content="Simple summary of the coronavirus (COVID-19) disease in the UK.">
	{% else %}
		<title>Simple summary - {{ area_name }} | Coronavirus in the UK</title>
		<meta property="og:title" content="Simple summary - {{ area_name }}  | Coronavirus in the UK">
		<meta property="twitter:title" content="Simple summary - {{ area_name }}  | Coronavirus in the UK">
		<meta name="description" content="Simple summary of the coronavirus (COVID-19) disease in {{ area_name }}, UK.">
		<meta property="og:description" content="Simple summary of the coronavirus (COVID-19) disease in {{ area_name }}, UK.">
		<meta name="twitter:description" content="Simple summary of the coronavirus (COVID-19) disease in {{ area_name }}, UK.">
	{% endif %}
	{% include "html/components/analytics.html" %}
	<link rel="preload" href="{{ url_for("static", path="/fonts/light-94a07e06a1-v2.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ url_for("static", path="/fonts/bold-b542beb274-v2.woff2") }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ url_for("static", path="/css/application.css") }}?tm={{ timestamp }}" as="style" type="text/css">
	<link rel="stylesheet" href="{{ url_for("static", path="/css/application.css") }}?tm={{ timestamp }}" as="style" type="text/css">
	<link rel="stylesheet" href="{{ url_for("static", path="easy_read/easy_read.css") }}?tm={{ timestamp }}" as="style" type="text/css">
	<script async src="https://www.clarity.ms/tag/6r17g7ix0s?ref=bwt"></script>
	<script type="application/javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-161400643-2"></script>
	<script type="application/javascript" async src="https://www.clarity.ms/eus-b/s/0.6.24/clarity.js"></script>
	<script type="application/javascript" src="{{ url_for("static", path="/js/mscl.js") }}"></script>
	<script type="application/javascript" src="{{ url_for("static", path="/js/gat.js") }}"></script>
</head>
<body class="govuk-template__body {% block body_class %}{% endblock %}">
{% include "html/components/cookie_banner.html" %}
{% block full_content %}
	{%- include "html/components/header.html" -%}
	{%- include "html/components/mobile_nav.html" -%}
<div class="govuk-width-container">
	<div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5" role="region" aria-labelledby="last-update">
		<p class="govuk-body-s" id="last-update">
			Last updated on&nbsp;<time datetime="{{ timestamp }}">{{ timestamp | format_timestamp }}</time>
		</p>
	</div>
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<div class="dashboard-container">
			{%- include "html/components/nav.html" -%}
			<div class="main">
				<div id="top">
					<div class="sticky-header govuk-!-padding-top-3">
						<div class="sticky-header govuk-grid-row govuk-!-margin-top-0" style="width: 100%">
							<div class="govuk-grid-column-one-half">
								<h1 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-0 panel-title-new">{%- block page_title -%}{%- endblock -%}</h1>
							</div>
						</div>
						<div class="govuk-grid-row govuk-!-margin-top-0">
							<div class="govuk-grid-column-full">
								<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-section-break--visible">
							</div>
						</div>
					</div>
				</div>
				{%- block main -%}{%- endblock -%}
				{%- block lower_section -%}{%- endblock -%}
			</div>
		</div>
	</main>
</div>
{% include "html/components/footer.html" %}
{% endblock %}
<script type="application/javascript" defer="" src="{{ url_for("static", path="/js/msai.js") }}"></script>
<script type="application/javascript" src="{{ url_for("static", path="/js/cookies.js") }}"></script>
</body>
</html>