{% extends 'html/base.html' %}

{% set area_type = data | smallest_area_type %}
{% set area_code = data | smallest_area_code %}

{% block body_class %}easy-read{% endblock %}

{% block full_content %}
	<div class="print-me govuk-body govuk-grid-row">

		<a class="govuk-button govuk-!-margin-bottom-0"
		   href="/easy_read/download{% if area_name != "United Kingdom" %}/{{ area_type }}/{{ area_code }}?postcode={{ postcode }}{% endif %}">
			Download PDF
		</a>
	</div>

	{% if area_name != "United Kingdom" %}
		{% set testingAreaName = "in " + ("newVirusTests" | get_data(data)).areaName %}
		{% set casesAreaName = "in " + ("newCasesByPublishDate" | get_data(data)).areaName %}
		{% set admissionsAreaName = "in " + ("newAdmissions" | get_data(data)).areaName %}
		{% set vaccinationsAreaName = "in " + ("cumPeopleVaccinatedFirstDoseByPublishDate" | get_data(data)).areaName %}
		{% set deathsAreaName = "in " + ("newDeaths28DaysByPublishDate" | get_data(data)).areaName %}
	{% endif %}

	<main>
		<article>
			<table>
				<thead>
				<tr>
					<td>
						<header>
							<h1 class="govuk-heading-l">Coronavirus (COVID-19) in the UK</h1>
							<h2 class="govuk-heading-m">
								<small class="govuk-caption-m govuk-!-margin-bottom-0">Simple summary</small>
								<small class="govuk-caption-m govuk-!-margin-bottom-0">for</small>
								{{ area_name }}
							</h2>
							<div class="intro">
								<p>This information comes from the UK Government.</p>
								<p>This document explains the key statistics presented on the
									<b>UK Coronavirus (COVID-19) Dashboard</b>. It was last updated on
									<time datetime="{{ timestamp }}">{{ timestamp | as_date }}</time>.
								</p>
							</div>
						</header>
					</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="page">
							<nav class="toc">
								<h3>Contents</h3>
								<ul class="govuk-summary-list">
									<li>
										<a class="govuk-link govuk-link--no-visited-state" href="#testing">
											Testing {{ testingAreaName }}
										</a>
									</li>
									<li>
										<a class="govuk-link govuk-link--no-visited-state" href="#cases">
											Cases {{ casesAreaName }}
										</a>
									</li>
									<li>
										<a class="govuk-link govuk-link--no-visited-state" href="#vaccinations">
											Vaccinations {{ vaccinationsAreaName }}
										</a>
									</li>
									<li>
										<a class="govuk-link govuk-link--no-visited-state" href="#healthcare">
											Healthcare {{ admissionsAreaName }}
										</a>
									</li>
									<li>
										<a class="govuk-link govuk-link--no-visited-state" href="#deaths">
											Deaths {{ deathsAreaName }}
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="page">
							{% include 'html/components/easy_read/testing.html' %}
							{% include 'html/components/easy_read/cases.html' %}
						</div>
						<div class="page">
							{% include 'html/components/easy_read/vaccinations.html' %}
							{% include 'html/components/easy_read/healthcare.html' %}
						</div>
						<div class="page">
							{% include 'html/components/easy_read/deaths.html' %}
						</div>
					</td>
				</tr>
				</tbody>
				<tfoot aria-hidden="true">
				<tr>
					<td>
						<div class="footer-space">&nbsp;</div>
					</td>
				</tr>
				</tfoot>
			</table>
		</article>

		<footer>
			<p>
				Produced by <strong>Public Health England</strong> &mdash; Last updated on
				<time datetime="{{ timestamp }}">{{ timestamp | format_timestamp }}</time>
			</p>
			<p class="small">
				Statistics and details are available on
				the <a href="https://coronavirus.data.gov.uk">Coronavirus (COVID-19) in the UK</a> website.
			</p>
			<div class="copyright">
			<span aria-hidden="true">
				<svg focusable="false" class="govuk-footer__licence-logo"
				     xmlns="http://www.w3.org/2000/svg"
				     viewBox="0 0 483.2 195.7" height="15" width="30">
					<path fill="currentColor"
					      d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
				</svg>
			</span>
				<p class="small">
					All content is available under the Open Government Licence v3.0, except where otherwise stated.
				</p>
			</div>
		</footer>
	</main>
{% endblock %}