azure-storage-blob
pytz
opencensus~=0.7.12
opencensus-ext-azure==1.1.3
opencensus-ext-logging==0.1.0
opencensus-ext-requests
latex==0.7.0
cython
pandas
jinja2
asyncpg
aiofiles
aiohttp
uvicorn[standard]
gunicorn
starlette
orjson
