{% set latest = ("newCasesBySpecimenDate" | get_data(data)) %}
{% set change = ("newCasesBySpecimenDateChange" | get_data(data)) %}
{% set changePercentage = ("newCasesBySpecimenDateChangePercentage" | get_data(data)) %}
{% set rollingSum = ("newCasesBySpecimenDateRollingSum" | get_data(data)) %}

<h3 id="cases">Cases{% if latest.areaName != "United Kingdom" %} in {{ latest.areaName }}{% endif %}</h3>
<p>
	A confirmed case is someone who has tested positive for coronavirus.
</p>

<p>
	Between {{ rollingSum.rawDate | subtract_days(6) | format_date }} and {{ rollingSum.date }},
	<b>{{ rollingSum.value }}</b> people had a confirmed positive test result.
	This shows {{ change.raw | comparison_verb("an increase", "a decrease", "no change" ) }}
	{% if change.raw != 0 -%}
		of <b>{{ changePercentage.value }}%</b>
	{%- endif %}
	compared to the previous 7 days.
</p>
