{% set latest = ("newDailyNsoDeathsByDeathDateChange" | get_data(data)) %}
{% set change = ("newDailyNsoDeathsByDeathDateChange" | get_data(data)) %}
{% set changePercentage = ("newDailyNsoDeathsByDeathDateChangePercentage" | get_data(data)) %}
{% set rollingSum = ("newDailyNsoDeathsByDeathDateRollingSum" | get_data(data)) %}

<h3 id="deaths">Deaths{% if latest.areaName != "United Kingdom" %} in {{ latest.areaName }}{% endif %}</h3>

<p>Between {{ rollingSum.rawDate | subtract_days(6) | format_date }} and {{ rollingSum.date }}, there have
	been <b>{{ rollingSum.value }}</b> deaths within 28 days of a positive coronavirus test.
	This shows {{ change.raw | comparison_verb("an increase", "a decrease", "no change" ) }}&nbsp;
	{%- if change.raw != 0 -%}
		of&nbsp;<b>{{ changePercentage.value }}%</b>&nbsp;
	{%- endif -%}
	compared to the previous 7 days.
</p>

