{% set latest = ("newAdmissions" | get_data(data)) %}
{% set change = ("newAdmissionsChange" | get_data(data)) %}
{% set changePercentage = ("newAdmissionsChangePercentage" | get_data(data)) %}
{% set rollingSum = ("newAdmissionsRollingSum" | get_data(data)) %}

<h3 id="healthcare">Healthcare{% if latest.areaName != "United Kingdom" %} in {{ latest.areaName }}{% endif %}</h3>

<p>Some people with coronavirus have to go into hospital.</p>

<p>Between {{ latest.rawDate | subtract_days(6) | format_date }} and {{ latest.date }},
	<b>{{ rollingSum.value }}</b>&nbsp;went into hospital with coronavirus.
	This shows {{ change.raw | comparison_verb("an increase", "a decrease", "no change" ) }}
	{% if change.raw != 0 -%}
		of <b>{{ changePercentage.value }}%</b>
	{%- endif %}
	compared to the previous 7 days.
</p>

{% set latest = ("hospitalCases" | get_data(data)) %}
<p>
	There {{ latest.raw | pluralise("was", "were", "were") }} <b>{{ latest.value }}</b>
	{{ latest.raw | pluralise("patient", "patients", "patients") }} in hospital with coronavirus
	on {{ latest.date }}.
</p>

{% set latest = ("covidOccupiedMVBeds" | get_data(data)) %}
<p>
	Some people in the hospital need to use a special device called a mechanical ventilator
	to help them breathe.
</p>

<p>
	There {{ latest.raw | pluralise("was", "were", "were") }} <b>{{ latest.value }}</b>
	coronavirus {{ latest.raw | pluralise("patient", "patients", "patients") }} in hospital
	beds with a mechanical ventilator on {{ latest.date }}.
</p>