{% set latest = ("newVirusTestsBySpecimenDate" | get_data(data)) %}
{% set change = ("newVirusTestsBySpecimenDateChange" | get_data(data)) %}
{% set changePercentage = ("newVirusTestsBySpecimenDateChangePercentage" | get_data(data)) %}
{% set rollingSum = ("newVirusTestsBySpecimenDateRollingSum" | get_data(data)) %}

<h3 id="testing">Testing{% if latest.areaName != "United Kingdom" %} in {{ latest.areaName }}{% endif %}</h3>
<p>Testing is where we do a test to see who has coronavirus. Some people are tested more than
	once.</p>

<p>Between {{ latest.rawDate | subtract_days(6) | format_date }} and {{ latest.date }}, there have
	been&nbsp;<b>{{ rollingSum.value }}</b>&nbsp;tests. This shows {{ change.raw | comparison_verb("an increase", "a decrease", "no change" ) }}
	{% if change.raw != 0 -%}
		of <b>{{ changePercentage.raw | abs }}%</b>
	{%- endif %}
	compared to the previous 7 days.
</p>
