{% set first = ("cumPeopleVaccinatedFirstDoseByPublishDate" | get_data(data)) %}
{% set second = ("cumPeopleVaccinatedSecondDoseByPublishDate" | get_data(data)) %}
{% set third = ("cumPeopleVaccinatedThirdInjectionByPublishDate" | get_data(data)) %}

<h3 id="vaccinations">Vaccinations{% if first.areaName != "United Kingdom" %} in {{ first.areaName }}{% endif %}</h3>

<p>
	Vaccines are currently given in 3 doses.
</p>

<p>
	<b>{{ first.value }}</b> people had been given a first dose by the end of {{ first.date }}.
</p>

<p>
	<b>{{ second.value }}</b> people had been given a second dose by the end of {{ second.date }}.
</p>

<p>
	<b>{{ third.value }}</b> people had been given a booster or third dose by the end of {{ third.date }}.
</p>
